<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>com.example.controller.StudentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentAddServlet</servlet-name>
        <servlet-class>com.example.controller.StudentAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentAddServlet</servlet-name>
        <url-pattern>/students/add</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>StudentEditServlet</servlet-name>
        <servlet-class>com.example.controller.StudentEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentEditServlet</servlet-name>
        <url-pattern>/students/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <servlet-class>com.example.controller.StudentDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <url-pattern>/students/delete</url-pattern>
    </servlet-mapping>
</web-app>

